<!-- USER LOGIN & REGISTRATION SECTION -->
<section id="home-user">
  <div class="dark-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Register For Visiting Card Wallet and Shere Card.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore minus facere quasi iure similique sequi!</p>
        </div>
        <div class="col-md-6">
          <h1>User</h1>
          <button class="btn btn-success" (click)="onLogin()">login</button>
          <button class="btn btn-info" (click)="onRegistration()">Registration</button>
        </div>
      </div>
      <!-- PAGE NAVIGATION POINTER -->
      <!-- <div class="row vertical-align">
        <a href="home#home-org" class="btn btn-danger pull-right"><i class="fa fa-arrow-down fa-lg"></i></a>
      </div> -->
    </div>
  </div>
</section>

<!-- ORGANIZATION LOGIN AND REGISTRAION SECTION -->
<section id="home-org">
  <div class="dark-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Create Oragnization Profile for Visiting Card </h1>
          <button class="btn btn-danger" (click)="onAdminRegistration()" >Organization Register</button>
        </div>
        <div class="col-md-6">
          <h1>Organization Login For Verify and Maintain Visiting Card Profile</h1>
          <button class="btn btn-info" (click)="onAdminLogin()" >Organization login</button>
        </div>
      </div>
    </div>
  </div>
</section>