<nav class="navbar navbar-inverse" id="admin-navbar">
    <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/admin/newRequest">New Request </a></li>
          <li routerLinkActive="active"><a routerLink="/admin/userList">Users</a></li>
          <li routerLinkActive="active"><a routerLink="/admin/cardDesing">Card Design</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/admin/changeAdminPassword" class="dropdown-item"> <i class="fa fa-pencil">&nbsp; Change Password</i> </a></li>
              <li><a href="#" class="dropdown-item"> <i class="fa fa-info"> &nbsp; info</i> </a></li>
            </ul>
          </li>
          <li> <a routerLink="/" class="nav-link"> <i class="fa fa-user-times"></i> Logout</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</div>
  </nav>

  <!-- admin HEADER -->
  <header class="bg-primary text-white" id="admin-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1><i class="fa fa-pencil"></i> Change Password</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- admin BODY -->
    <section id="admin-body">
            <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="well">
                          <fieldset>
                            <legend> Change Password</legend>
                            <form #form="ngForm" (ngSubmit)="logForm(form.value)">
                              <div class="form-group">
                                <label>Old Passwrod</label>
                                <input type="password" class="form-control" ngModel name="oldPassword" #oldPassword=ngModel required>
                
                                <div class="alert alert-danger" *ngIf="oldPassword.touched && !oldPassword.valid">
                                  Old Password is required.
                                </div>
                
                              </div>
                
                              <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" ngModel name="newPassword" #newPassword=ngModel required minlength="5">
                                <div *ngIf="newPassword.touched && newPassword.errors">
                
                                  <div class="alert alert-danger" *ngIf="newPassword.errors.required">
                                    New Password is required.
                                  </div>
                                  <div class="alert alert-danger" *ngIf="newPassword.errors.minlength">
                                    New Password should be minimum {{ newPassword.errors.minlength.requiredLength}}.
                                  </div>
                
                                </div>
                              </div>
                
                              <div class="form-group">
                                <label>Retype Password</label>
                                <input type="password" class="form-control" ngModel name="cPassword" #cPassword=ngModel required>
                                 <div class="alert alert-danger"*ngIf="cPassword.touched && !cPassword.valid">
                                    Retype Password is required.
                                  </div>
                              </div>
                
                              <div class="form-group">
                                <button class="btn btn-primary btn-block" [disabled]=!form.valid type="submit">Change Password</button>
                              </div>
                            </form>
                
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
    </section>
   
   <!-- admin FOOTER -->
    <footer id="admin-footer" class="navbar-inverse text-white footer navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead text-center">Copyright &copy; 2017 </p>
                </div>
            </div>
        </div>
    </footer>