<section id="change-password-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="well">
          <fieldset>
            <legend> Change Password</legend>
            <form #form="ngForm" (ngSubmit)="logForm(form.value)">
              <div class="form-group">
                <label>Old Passwrod</label>
                <input type="password" class="form-control" ngModel name="oldPassword" #oldPassword=ngModel required>

                <div class="alert alert-danger" *ngIf="oldPassword.touched && !oldPassword.valid">
                  Old Password is required.
                </div>

              </div>

              <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" ngModel name="newPassword" #newPassword=ngModel required minlength="5">
                <div *ngIf="newPassword.touched && newPassword.errors">

                  <div class="alert alert-danger" *ngIf="newPassword.errors.required">
                    New Password is required.
                  </div>
                  <div class="alert alert-danger" *ngIf="newPassword.errors.minlength">
                    New Password should be minimum {{ newPassword.errors.minlength.requiredLength}}.
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label>Retype Password</label>
                <input type="password" class="form-control" ngModel name="cPassword" #cPassword=ngModel required>
                 <div class="alert alert-danger"*ngIf="cPassword.touched && !cPassword.valid">
                    Retype Password is required.
                  </div>
              </div>

              <div class="form-group">
                <button class="btn btn-primary btn-block" [disabled]=!form.valid type="submit">Change Password</button>
              </div>
            </form>

          </fieldset>
        </div>
      </div>
    </div>
  </div>
</section>
